<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ionic">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-label>The framework</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bienvenida">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Hello word</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instructor">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Instructor</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>