<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="play-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>DJCrespo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-margin ion-text-center">
    <p>
      DJ, programador, presidente...
    </p>
    <br>
    <p>
      ¿Qué no puede hacer este muchacho?
    </p>
  </div>
  <ion-card>
    <img src="https://scontent.fmid3-1.fna.fbcdn.net/v/t39.30808-6/241176406_340628031086399_209014305459430111_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHBdUfZnOVGXd44tGAP-V-zIFRSXhTqWI0gVFJeFOpYjQruChSgWRTwrMC2abJGKLBbxLldZspZUGpSp5BaKnSQ&_nc_ohc=B9CaKBbohokAX96Y58R&_nc_ht=scontent.fmid3-1.fna&oh=00_AT9Rm4PXtqiAjx76s49vR3ikRuELL6FiMs5dIIFPWdob0Q&oe=63572A09">
    <ion-card-header>
      <ion-card-title>
        Didier Crespo Castilla
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Desde secundaria cuando tuve mi primer con un Xperia X10 tuve la curiosidad de que había más allá de solo el dispostivo, investigando por mi cuenta encontré un mundo maravilloso donde había gente colaborando por hacer cosas que podían hacer desde una computadora y cambiar el mundo; es por eso que me encuentro en la AAAIMX, el cual me permite seguir con mi sueño de impactar de manera positiva al mundo con mi conocimiento.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>